.App {
  display: flex;
  width: 100%;
}
.App-Content{
  width: 100%;
  padding: 30px 50px 0 280px;
  display: flex;
  justify-content: center;
  min-height: 101vh;
}

@media only screen and (max-width: 960px) {
  .App-Content{
    padding: 30px 35px 0 20px;
  }
}